body,
footer {
  background-color: darkgoldenrod;
}
/* 
.container {
 
} */

nav div.container {
  width: 40%;
  margin: 0 auto;
}

.search {
  border: solid blue 4px;
  background-color: cadetblue !important;
  /* border: 0; */
  width: 50%;
  margin: 0 auto;
}
#searchUser {
  background-color: darkkhaki;
  color: black;
  font-size: medium;
  font-weight: bold;
}
footer.bg-light {
  background-color: burlywood !important;
}
p.lead {
  color: black;
  font-weight: bold;
  font-size: small;
  text-align: center;
}
