body,
footer {
  background-color: darkgoldenrod;
}

nav div.container {
  width: 40%;
  margin: 0 auto;
}

.search {
  border: solid blue 4px;
  background-color: cadetblue !important;
}
#searchUser {
  background-color: darkkhaki;
  color: black;
  font-size: medium;
  font-weight: bold;
}
footer.bg-light {
  background-color: burlywood !important;
}
p.lead {
  color: black;
  font-weight: bold;
  font-size: small;
}
/* p.lead {
  color: black;
  font-weight: bold;
  font-size: small;
}
#searchUser {
  background-color: darkkhaki;
  color: black;
  font-size: medium;
  font-weight: bold;
}
.search {
   border: solid blue 4px; 
  background-color: cadetblue !important;
}
footer.bg-light {
  background-color: burlywood !important;
} */
/* 
button {
  font-weight: bold;
  font-size: x-small;
  color: darkslategray;
  padding-right: 4px;
  padding-left: 0px;
  width: 30%;
}


h5,
h6 {
  color: black;
  border: solid blue 4px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
} */
/* .test-error {
  width: 40%;
  margin: 0 auto;
} */
